.renglon-1
{
    width: 100%;
    height: 100%;
}
.celda{
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    width: calc(100% / 9 - 10px);
    height: calc(100% / 26 - 10px);
    background-color: blue;
    border: 1px;
    border-radius: 5px;
}

.celda p{
    position: relative;
    font-size: 1em;
    display: block;
    margin: 0;
    top: calc(50% - 0.5em);
    text-align: center;
}

.empleado{
    height: calc(((100% / 26) * 6) - 10px);
}

input{
    width: 100%;
    background-color: transparent;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid green;
    font-size: 1em;
    color: white;
    transform: rotate(-90deg);
}